.preloader
    .preloader__slider
        .container-fluid
            p.preloader__offer Create by Artur
        .container-fluid
            p.preloader__offer Create by Pavel

header.header
    .header__video.video-wrapper
        video(src="/video/earth.mp4" autoplay loop)
    .header__offer
        .container-fluid
            h1.animate__animated Our planet !