/*
 * ==================================================================================
 * font
 * ==================================================================================
 */

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-display: swap;
        font-family: $font_name;
        font-weight: $weight;
        font-style: $style;
        src: url("../fonts/default/#{$file_name}.woff") format("woff"),
            url("../fonts/default/#{$file_name}.woff2") format("woff2");
    }
}

/*
 * ==================================================================================
 * row
 * ==================================================================================
 */

@mixin _row($margin) {
    margin-left: -$margin;
    margin-right: -$margin;
    display: flex;
    flex-wrap: wrap;
}

/*
 * ==================================================================================
 * column
 * ==================================================================================
 */

@mixin _col($margin) {
    margin-left: $margin;
    margin-right: $margin;
}

/*
 * ==================================================================================
 * fancybox
 * ==================================================================================
 */

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
