/*
 * ================================================================================== 
 * font settings
 * ==================================================================================
 */

$thin: 100 !default;
$extra-light: 200 !default;
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$semi-black: 800 !default;
$black: 900 !default;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */

$black: #000 !default;
$grey: #555 !default;
$white: #fff !default;

/* 
 * ==================================================================================
 * window's size
 * ==================================================================================
 */

$xx: 440 !default; // window size < 440px
$xs: 560 !default; // window size < 560px
$sm: 780 !default; // window size < 780px
$md: 960 !default; // window size < 960px
$lg: 1100 !default; // window size < 1100px
$xlg: 1300 !default; // window size < 1300px
$xl: 1600 !default; // window size < 1600px
$xxl: 1800 !default; // window size < 1800px

/* 
 * ==================================================================================
 * default... vars for bootstrap and etc.
 * ==================================================================================
 */

$widthContainer: 1170 !default; // size is in "px"
$maxWidth: 1920 !default; // size is in "px"

$columnGap: 30 !default; // size is in "px"
