.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $black;
  transition: opacity .5s ease-in-out, width .1s ease .5s;
  z-index: 100;

  .container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__offer {

  }
}

body {
  overflow-x: hidden;
}

.loaded {
  overflow-y: visible;

  .preloader {
    opacity: 0;
    width: 0;
  }
}